body {
  /* background-image: url("counter.jpg"); */
  background-color: rgb(47, 108, 158);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}

.buttons {
  margin-bottom: 20px;
  display: block;
}

.container {
  background-color: rgb(255, 221, 176);
  width: 500px;
  height: 500px;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: #2c2891;
  margin-bottom: 20px;
}

#increment-btn:hover {
  background: rgba(6, 83, 199, 0.685);
}

#increment-btn:active {
  border: 1px solid rgb(29, 231, 73);
  box-shadow: 1px 1px 1px rgb(106, 255, 151);
}

#save-btn {
  background: #1c7947;
  margin-bottom: 20px;
}

#save-btn:hover {
  background-color: #20b465;
}

#save-btn:active {
  border: 1px solid rgb(49, 197, 255);
  box-shadow: 1px 1px 1px rgb(49, 197, 255);
}

#save-el {
  display: block;
  position: sticky;
}
